<template>
  <div>
    <nuxt-link v-for="(link, i) in navLinks" :key="i" :to="link.href">
      {{ link.name }}</nuxt-link
    >
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
export default defineComponent({
  setup() {
    const navLinks = [
      { href: '/', name: 'Home' },
      { href: '/register', name: 'Register' },
      { href: '/login', name: 'Login' },
    ]
    return { navLinks }
  },
})
</script>

<style scoped>
</style>