<template>
  <div>
    <form @submit.prevent="loginUser">
      Email: <input v-model="email" type="text" /> Hasło:
      <input v-model="password" type="text" />
      <button type="submit">Zaloguj sie</button>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
export default defineComponent({
  data() {
    return {
      email: 'test@gmail.com',
      password: 'qwerty123',
    }
  },
  methods: {
    async loginUser() {
      try {
        const data = await this.$axios.$post('/auth/login', {
          email: this.email,
          password: this.password,
        })
        console.log('~ data', data)
      } catch (e) {
        console.error(e.response.data.errors)
      }
    },
  },
})
</script>

<style scoped>
</style>