<template>
  <div>
    <label for=""> Email: <input type="text" /> </label>
    <label for=""> Hasło: <input type="text" /> </label>
    <label for=""> Powtórz Hasło: <input type="text" /> </label>
    <button @click="registerUser">Rejstruj sie</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  data() {
    return {
      email: '',
      password: '',
      repPassword: '',
      res: '',
    }
  },
  methods: {
    async registerUser() {
      try {
        const data = await this.$axios.$post('/auth/register', {
          email: this.email,
          password: this.password,
          repPassword: this.repPassword,
        })
        this.res = data
        console.log('~ data', data)
      } catch (e) {
        console.error(e)
      }
    },
  },
})
</script>

<style scoped>
</style>